# 制作动图

::: tip
请点击选择一个模板
:::

<% _.each(storyMap, (item, key) => { %>[![](~@story/<%= key %>.png)](./<%= key %>.md)<% }) %>

<style scoped>
.content p > a {
  display: inline-block;
  margin-right: .8em;
  margin-bottom: .32em;
}
.content p > a > img {
  width: 200px; /* fixme */
  height: 123px;
}
</style>
